<!DOCTYPE html>
<html>
<head>
  <title>Qanda</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
<% if user_signed_in? %>
Signed in as <%= current_user.email %>
<% else %>
<%= link_to "Sign up", new_user_registration_path %>
<%= link_to "Sign in", new_user_session_path %>
<% end %>

</nav>

<%= yield %>
<br>
Your questions are:
<br>
<strong><% current_user.questions.each do |question| %></strong>
<%= question.query %>
<% end %>
</body>
</html>
